@model RoseEditRequest
@{
    ViewData["Title"] = "Edit";
}

<style>
    .img-box {
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
    }

    .remove-img-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: red;
        font-weight: bold;
        font-size: 18px;
        background-color: white;
        border: 1px solid red;
        padding: 5px;
        border-radius: 50%;
    }
</style>

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Roses</h1>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Desc"></label>
                        <input asp-for="Desc" class="form-control" placeholder="Enter Description">
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Value"></label>
                    <input asp-for="Value" class="form-control" placeholder="Enter Value">
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CategoryIds">Categories</label>
                        <select asp-for="CategoryIds" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" multiple></select>
                        <span asp-validation-for="CategoryIds" class="text-danger"></span>
                    </div>
                </div>
                <label for="imgInput">Image File</label>
                <input type="file" name="Files" class="form-control imgInput" multiple>

                <div class="preview-box"></div>

                @if (ViewBag.Pictures != null)
                {
                    foreach (PictureResponse item in ViewBag.Pictures)
                    {
                        <div class="img-box mt-3" style="display: inline-block; position: relative;">
                            <span class="remove-img-icon" data-id="@item.Id">x</span>
                            <input type="hidden" name="ExistPictureIds" value="@item.Id" />
                            <img width="200" class="previewImg" src="@item.Url" />
                        </div>
                    }
                }
                <button type="submit" class="btn btn-primary mt-3">Edit Rose</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>$(document).ready(function () {
            $(".imgInput").change(function (e) {
                let box = $(this).closest('form').find(".preview-box");
                $(box).empty();

                Array.from(e.target.files).forEach(file => {
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        let img = $("<img>").attr("src", reader.result).addClass("previewImg").css("width", "200px");
                        $(box).append(img);
                    };
                });
            });

            $(document).on('click', '.remove-img-icon', function () {
                let imgBox = $(this).closest(".img-box");
                let imgId = $(this).data("id");

                imgBox.remove();

                let hiddenInput = $("input[name='ExistPictureIds'][value='" + imgId + "']");
                if (hiddenInput.length) {
                    hiddenInput.remove();
                }

                let removedPicturesInput = $("input[name='RemovedPictureIds']");
                if (removedPicturesInput.length) {
                    let removedPictureIds = removedPicturesInput.val().split(',').filter(id => id !== '');
                    removedPictureIds.push(imgId);
                    removedPicturesInput.val(removedPictureIds.join(','));
                } else {
                    $("<input>").attr({
                        type: "hidden",
                        name: "RemovedPictureIds",
                        value: imgId
                    }).appendTo("form");
                }
            });

            $("form").submit(function () {
               
                let removedPicturesInput = $("input[name='RemovedPictureIds']");
                if (removedPicturesInput.length) {
                    let removedPictureIds = removedPicturesInput.val().split(',').filter(id => id !== '');
                    removedPicturesInput.val(removedPictureIds.join(','));
                }
            });
        });</script>
}
